<!-- Footer, contains centered social media buttons on an alternate primary background color -->
<div class="expanded row footer-container">
	<div class="large-4  small-12 columns">
		<h5>charlestdjames1@gmail.com</h5>
	</div>
	<div class="large-4 small-12 columns">
		<h5>
			<span onclick="window.open('https://twitter.com/cjameswebdev/media', '_blank')"><i class="fa fa-twitter"></i></span>
			<span onclick="window.open('https://www.linkedin.com/in/charlie-james-16981479/', '_blank')"><i class="fa fa-linkedin"></i></span>
			<span onclick=""><i class="fa fa-paper-plane"></i></span>
		</h5>
	</div>
	<div class="large-4 small-12 columns">
		<h5>(613) 803-6794</h5>
	</div>
</div>